<nav class="nav mobile-nav">
  <ul>
    <li><%= link_to 'Become a Member', '/index.html' %></li>
    <li><%= link_to 'Explore Benefits', '/levels.html' %></li>
    <li><%= link_to 'Circle Membership', '/circle.html' %></li>
    <li><%= link_to 'Donor and Member Wall', '/donor-wall.html' %></li>
    <li><%= link_to 'Corporate Sponsors', '/corporate-sponsors.html' %></li>
    <li><%= link_to 'Frequently Asked Questions', '/faq.html' %></li>
  </ul>
</nav>
