---
title: Membership Levels
---

<div class="splash splash-circle">
  <div class="splash-wrapper">
    <div class="splash-greeting">
      <h1 class="splash-header">Join Our Circle</h1>
      <p class="splash-info"><%= data.info %></p>
      <h4 class="splash-support"><%= data.support %></h4>
    </div><!-- splash-greeting -->
    <% data.levels.each do |level| %>
      <% if level.circle %>
        <div class="circle-box">
          <div class="circle-box-top">
            <h3><%= level.name %></h3>
            <h4><%= level.amount %></h4>
            <h4><em>Three-Year Commitment</em></h4>
          </div>
          <div class="circle-box-bottom">
            <h4>All previous level benefits ></h4>
            <h5>Access Benefits</h5>
            <% level.extra_access_benefits.each do |benefit| %>
              <p><%= benefit %></p>
            <% end %>
            <button class="button button-flat">Join ></button>
            <button class="button button-flat">Renew ></button>
          </div>
        </div>
      <% end %>
    <% end %>
  </div><!-- splash-wrapper -->
  <%= partial "nav" %>
</div><!-- splash-circle -->

<div class="main">
  <div class="main-left">
    <h3>We are a nonpartisan, nonprofit news organization.</h3>
  </div>
  <div class="main-right">
    <h4>Have a question?</h4>
  </div>
</div>
