---
title: Circle Membership
---

<div class="splash">
  <div class="splash-wrapper">
    <div class="splash-greeting">
      <h1 class="splash-header">Join Our Circle</h1>
      <p class="splash-info"><%= data.Info[0]['about_trib'] %></p>
      <h4 class="splash-support"><%= data.Info[0]['support_cta'] %></h4>
    </div><!-- splash-greeting -->
    <% data.levels.each do |level| %>
      <% if level.circle %>
        <div class="circle-box">
          <div class="circle-box-top">
            <h3><%= level.name %></h3>
            <p><em>Three-Year Commitment</em></p>
          </div>
          <div class="circle-box-bottom">
            <a href="https://checkout.texastribune.org/circleform?&amp;amount=<%= level.amount_annual %>&amp;installmentPeriod=yearly&amp;installments=3" onclick="ga('send', 'event', 'donations-app', 'click', 'circle-yearly', {'nonInteraction': 1})"><button class="button button-flat">$<%= level.amount_annual_comma %> <br>Annually</button></a>
            <a href="https://checkout.texastribune.org/circleform?&amp;amount=<%= level.amount_month %>&amp;installmentPeriod=monthly&amp;installments=3" onclick="ga('send', 'event', 'donations-app', 'click', 'circle-monthly', {'nonInteraction': 1})"><button style="float: right;" class="button button-flat">$<%= level.amount_month %> <br>Monthly</button></a>
          </div>
        </div>
      <% end %>
    <% end %>
  </div><!-- splash-wrapper -->
  <%= partial "desktop_nav" %>
</div><!-- splash-circle -->

<div class="main">
  <div class="main-left">
  <div class="circle-members-header">
    <img class="circle-logo" src="../images/circle-member-half-logo.png">
  </div>
  <div class="circle-members">
    <div class="circle-list-wrapper" id="chairman-s-circle"></div>
    <div class="circle-list-wrapper" id="leadership-circle"></div>
    <div class="circle-list-wrapper" id="editor-s-circle"></div>
  </div>
  </div>
  <div class="main-right level">
    <h3 class="section-header">Circle Membership</h3>
    <p>Circle Membership is a three-year commitment to provide backing for the vital work of our journalists. Circle Members believe in supporting our mission as a public service — free of charge on our website, in free syndication and at our numerous free public events — so all Texans have access to nonpartisan news and information.</p>
    <h3 class="section-header">Benefits</h3>
    <h4>All Benefactor level benefits, plus:</h4>
    <h5 class="benefits-header">Content Benefits</h5>
      <p>Special notifications and updates from Evan Smith, CEO</p>
    <h5 class="benefits-header">Access Benefits</h5>
        <p>Early registration to select Tribune events and VIP receptions</p>
        <p>Invitations to exclusive events as part of The Texas Tribune Festival</p>
        <p>Year-round reserved seating at Tribune statewide events</p>
    <h5 class="benefits-header">Recognition Benefits</h5>
      <p>Exclusive recognition as a Texas Tribune Circle Member on our site</p>
    <h3 class="section-header">Have a Question?</h3>
    <% data.Contacts.each do |contact| %>
      <% if contact['on_circle_page'] == 'yes' %>
        <div class="contact-info">
          <h5><%= contact['department'] %></h5>
          <h4><%= contact['name'] %></h4>
          <p class="italic"><%= contact['title'] %></p>
          <p><%= contact['phone'] %></p>
          <p><a href="mailto:<%=contact['email'] %>"><%= contact['email'] %> <i class="fa fa-chevron-right"></i></a></p>
        </div>
      <% end %>
    <% end %>
    <hr>
    <%= partial "give_more" %>
    <hr>
    <%= partial "share" %>
    <hr>
    <div class="extra-info">
      <h3>Prefer to mail a check?</h3>
      <p>Click <a href="https://static.texastribune.org/media/marketing/TT-circle-membership-contribution-form.pdf" onclick="ga('send', 'event', 'donations-app', 'click', 'mail-check', {'nonInteraction': 1})">here</a> for our membership form and mailing information. </p>
    </div>
  </div>
</div>
<div class="thanks outer-info">
  <div class="inner-info"><hr>Thank you for supporting The Texas Tribune<hr></div>
</div>
