---
title: Membership Levels
---

<div class="splash splash-circle">
  <div class="splash-wrapper">
    <div class="splash-greeting">
      <h1 class="splash-header">Join Our Circle</h1>
      <p class="splash-info"><%= data.info %></p>
      <h4 class="splash-support"><%= data.support %></h4>
    </div><!-- splash-greeting -->
    <% data.levels.each do |level| %>
      <% if level.circle %>
        <div class="circle-box">
          <div class="circle-box-top">
            <h3><%= level.name %></h3>
            <h4><%= level.amount %></h4>
            <p><em>Three-Year Commitment</em></p>
          </div>
          <div class="circle-box-bottom">
            <h4>All previous level benefits <i class="fa fa-angle-right"></i></h4>
            <h5>Access Benefits</h5>
            <div class="circle-box-benefits">
            <% level.extra_access_benefits.each do |benefit| %>
              <p><%= benefit %></p>
            <% end %>
            </div>
            <button class="button button-flat">Join <i class="fa fa-angle-right"></i></button>
            <button class="button button-flat">Renew <i class="fa fa-angle-right"></i></button>
          </div>
        </div>
      <% end %>
    <% end %>
  </div><!-- splash-wrapper -->
  <%= partial "nav" %>
</div><!-- splash-circle -->

<div class="main">
  <div class="main-left">
    <h3><%= data.tagline %></h3>
  </div>
  <div class="main-right">
    <h4>Have a question?</h4>
    <% data.contacts.each do |contact| %>
      <h5><%= contact.about %></h5>
      <h4><%= contact.name %></h4>
      <p><%= contact.title %></p>
      <p><%= contact.phone %></p>
      <p><a href="mailto:<%=contact.email %>"><%= contact.email %> <i class="fa fa-angle-right"></i></a></p>
    <% end %>
    <hr>
    <h4>Ready to share?</h4>
  </div>
</div>
