---
title: Frequently Asked Questions
---

<div class="splash">
  <div class="splash-wrapper">
    <div class="splash-greeting">
      <h1 class="splash-header">Frequently Asked Questions</h1>
      <p class="splash-info"><%= data.info %></p>
      <h4 class="splash-support"><%= data.support %></h4>
    </div><!-- splash-greeting -->
  </div><!-- splash-wrapper -->
  <%= partial "desktop_nav" %>
</div><!-- splash-levels -->

<div class="main">
  <h3>Frequently Asked Questions</h3>
  <% data.faq.each do |q| %>
    <h4><%= q.question %></h4>
    <p><%= q.answer %></p>
  <% end %>
</div>
