---
title: Frequently Asked Questions
---

<div class="splash">
  <div class="splash-wrapper">
    <div class="splash-greeting">
      <h1 class="splash-header">Frequently Asked Questions</h1>
      <p class="splash-info"><%= data.info %></p>
      <h4 class="splash-support"><%= data.support %></h4>
    </div><!-- splash-greeting -->
  </div><!-- splash-wrapper -->
  <%= partial "desktop_nav" %>
</div><!-- splash-levels -->

<div class="main" style="padding: 2em;">
  <h3>Frequently Asked Questions</h3>
  <% data.faq.each do |q| %>
    <h4 style="margin-top: 2em;"><%= q.question %></h4>
    <p style="margin: 0.5em 0;"><%= q.answer %></p>
  <% end %>
</div>
