---
title: Become a Member
---

<div class="splash">
  <div class="splash-wrapper">
    <div class="splash-greeting">
      <h1 class="splash-header">Support Us</h1>
      <p class="splash-info"><%= data.Info[0]['about_trib'] %></p>
      <h4 class="splash-support"><%= data.Info[0]['support_cta'] %></h4>
    </div>
    <%= partial "top_checkout" %>
  </div><!-- splash-wrapper -->
  <%= partial "desktop_nav" %>
</div><!-- splash-landing -->

<div class="main">
  <div class="main-left">
    <h2><%= data.Info[0]['tagline'] %></h2>
    <%= partial "videos" %>
    <hr>
    <h3 class="section-header">Have a Question?</h3>
      <% data.Contacts.each do |contact| %>
        <div class="contact-info">
          <h5><%= contact['department'] %></h5>
          <h4><%= contact['name'] %></h4>
          <p class="italic"><%= contact['title'] %></p>
          <p><%= contact['phone'] %></p>
          <p><a href="mailto:<%=contact['email'] %>"><%= contact['email'] %> <i class="fa fa-chevron-right"></i></a></p>
        </div>
      <% end %>
    <hr>
    <%= partial "share" %>
  </div><!-- main-left -->
  <div class="main-right">
    <div class="student-member">
      <a href="/form?&amp;amount=10">Interested in becoming a student member? <i class="fa fa-chevron-right"></i></a>
    </div>
    <hr>
    <% data.levels.each do |level| %>
      <% unless level.student %>
        <div class="level">
          <% if level.most_popular %>
            <h5 class="benefit-flag"><i class="fa fa-star"></i> Most Popular</h5>
          <% end %>
          <% if level.circle %>
            <h5 class="benefit-flag"><i class="fa fa-support"></i> Circle Membership</h5>
          <% end %>
          <h3><%= level.name %></h3>
          <h4 class="amount">
            <% if level.amount_month %><a href="/form?&amp;amount=<%= level.amount_month %><% if level.circle %>&amp;installments=36<% end %>&amp;installmentPeriod=monthly">$<%= level.amount_month %> Monthly</a> <span>or</span> <% end %><a href="/form?&amp;amount=<%= level.amount_annual %>&amp;installmentPeriod=yearly<% if level.circle %>&amp;installments=3<% end %>"><% if level.amount_annual_comma %>$<%= level.amount_annual_comma %><% else %>$<%= level.amount_annual %><% end %> Annually</a></h4>
          <% if level.commitment %>
            <p class="italic">Three-Year Commitment</p>
          <% end %>
          <% if level.all_above %>
            <h4 class="all-above">All the above, plus:</h4>
            <!-- list extra benefits for level by category -->
            <% if level.extra_content_benefits %>
              <h5>Content Benefits</h5>
              <% level.extra_content_benefits.each do |benefit| %>
                <p><%= benefit %></p>
              <% end %>
            <% end %>
            <% if level.extra_access_benefits %>
              <h5>Access Benefits</h5>
              <% level.extra_access_benefits.each do |benefit| %>
                <p><%= benefit %></p>
              <% end %>
            <% end %>
            <% if level.extra_recognition_benefits %>
              <h5>Recognition Benefits</h5>
              <% level.extra_recognition_benefits.each do |benefit| %>
                <p><%= benefit %></p>
              <% end %>
            <% end %>
          <% else %> <!-- if not level.all_above -->
            <!-- list all benefits by category -->
            <% if level.all_content_benefits %>
              <h5>Content Benefits</h5>
              <% level.all_content_benefits.each do |benefit| %>
                <p><%= benefit %></p>
              <% end %>
            <% end %>
            <% if level.all_access_benefits %>
              <h5>Access Benefits</h5>
              <% level.all_access_benefits.each do |benefit| %>
                <p><%= benefit %></p>
              <% end %>
            <% end %>
            <% if level.all_recognition_benefits %>
              <h5>Recognition Benefits</h5>
              <% level.all_recognition_benefits.each do |benefit| %>
                <p><%= benefit %></p>
              <% end %>
            <% end %>
          <% end %>
        </div>
        <hr>
      <% end %>
    <% end %>
    <%= partial "give_more" %>
    <hr class="hide-mobile">
    <%= partial "mail_check" %>
    <hr class="show-mobile">
  </div>
</div><!-- main-right -->
<!-- videos/contacts show below levels on mobile -->
<div class="main-mobile">
  <h2 class="tagline"><%= data.Info[0]['tagline'] %></h2>
  <%= partial "videos" %>
  <h3 class="section-header">Have a Question?</h3>
    <% data.Contacts.each do |contact| %>
      <div class="contact-info">
        <h5><%= contact['department'] %></h5>
        <h4><%= contact['name'] %></h4>
        <p class="italic"><%= contact['title'] %></p>
        <p><%= contact['phone'] %></p>
        <p><a href="mailto:<%=contact['email'] %>"><%= contact['email'] %> <i class="fa fa-chevron-right"></i></a></p>
      </div>
    <% end %>
  <hr>
  <%= partial "share" %>
</div><!-- main-mobile -->
<%= partial "bottom_checkout" %>
