---
title: Support Us
---

<div class="splash splash-landing">
  <div class="support-container">
    <div class="splash-greeting">
      <h1 class="splash-header">Support Us</h1>
      <p class="splash-info">The Texas Tribune is the only member-supported, digitally focused, nonpartisan news organization that informs &amp; engages with Texans about public policy, politics, government &amp; statewide issues.</p>
      <h3 class="splash-support align-right">Our Nonprofit Newsroom Depends On Your Support!</h3>
    </div>
    <div class="box-contribute">
      <div class="contribute">
        <button type="submit" class="button">Contribute Now</button>
      </div>
      <div class="mail">
        <h4>Prefer to mail in your donation?</h4>
        <p>Download the donation form</p>
      </div>
    </div><!-- box-contribute -->
  </div><!-- support-container -->
</div><!-- splash-landing -->

<%= partial "nav" %>

<div class="main">
  <div class="main-left">
    <h2>We are a nonpartisan, nonprofit news organization.</h2>
  </div>
  <div class="main-right">
    <% data.levels.each do |level| %>
    <div class="level">
      <% if level.most_popular %>
        <h5>Most Popular</h5>
      <% end %>
      <% if level.circle %>
        <h5>Circle Membership</h5>
      <% end %>
      <h3><%= level.name %></h3>
      <h4><%= level.amount %></h4>
      <% if level.commitment %>
        <p>Three-Year Commitment</p>
      <% end %>
      <% if level.all_above %>
        <p>All the above, plus:</p>
        <!-- list extra benefits for level by category -->
        <% if level.extra_content_benefits %>
          <h5>Content Benefits</h5>
          <% level.extra_content_benefits.each do |benefit| %>
            <p><%= benefit %></p>
          <% end %>
        <% end %>
        <% if level.extra_access_benefits %>
          <h5>Access Benefits</h5>
          <% level.extra_access_benefits.each do |benefit| %>
            <p><%= benefit %></p>
          <% end %>
        <% end %>
        <% if level.extra_recognition_benefits %>
          <h5>Recognition Benefits</h5>
          <% level.extra_recognition_benefits.each do |benefit| %>
            <p><%= benefit %></p>
          <% end %>
        <% end %>
      <% else %> <!-- if not level.all_above -->
        <!-- list all benefits by category -->
        <% if level.all_content_benefits %>
          <h5>Content Benefits</h5>
          <% level.all_content_benefits.each do |benefit| %>
            <p><%= benefit %></p>
          <% end %>
        <% end %>
        <% if level.all_access_benefits %>
          <h5>Access Benefits</h5>
          <% level.all_access_benefits.each do |benefit| %>
            <p><%= benefit %></p>
          <% end %>
        <% end %>
        <% if level.all_recognition_benefits %>
          <h5>Recognition Benefits</h5>
          <% level.all_recognition_benefits.each do |benefit| %>
            <p><%= benefit %></p>
          <% end %>
        <% end %>
      <% end %>
    </div>
    <hr />
    <% end %>
    <!-- student level is special -->
    <div class="level">
      <h3>Student</h3>
      <h4>$10 Annually</h4>
      <h5>Content Benefits</h5>
        <p>Monthly Member Report from Evan Smith</p>
      <h5>Access Benefits</h5>
        <p>Invitations to Tribune social events</p>
        <p>Discounts to The Texas Tribune Festival</p>
    </div>
  </div>
</div>
