---
title: Explore Benefits
---

<div class="splash splash-levels">
  <div class="splash-wrapper">
    <div class="splash-greeting">
      <h1 class="splash-header">Membership Benefits</h1>
      <p class="splash-info"><%= data.info %></p>
      <h4 class="splash-support"><%= data.support %></h4>
    </div><!-- splash-greeting -->
  </div><!-- splash-wrapper -->
  <%= partial "nav" %>
</div><!-- splash-levels -->

<div class="main">
  <h2><%= data.tagline %></h2>
  <h3>Explore the benefits:</h3>
  <table>
    <% data.levels.each do |level| %>
    <tbody class="grid-body <% if level.most_popular %>opened<% end %>">
      <tr>
        <td class="name open-close">
          <i class="fa fa-plus-square-o"></i>
          <i class="fa fa-minus-square"></i>
          <h3> <%= level.name %></h3>
          <% if level.most_popular %>
            <h5 class="benefit-flag"><i class="fa fa-star"></i> Most Popular</h5>
          <% end %>
        </td>
        <td class="amount"><%= level.amount %></td>
        <td class="join-renew">
          <span><a href="#">Join <i class="fa fa-angle-right"></i></a></span>
          <span><a href="#">Renew Membership <i class="fa fa-angle-right"></i></a></span>
        </td>
      </tr>
      <tr class="popout">
        <td>
          <% if level.all_content_benefits %>
            <h6>Content Benefits</h6>
            <% level.all_content_benefits.each do |benefit| %>
              <p><%= benefit %></p>
            <% end %>
          <% end %>
        </td>
        <td>
          <% if level.all_access_benefits %>
            <h6>Access Benefits</h6>
            <% level.all_access_benefits.each do |benefit| %>
              <p><%= benefit %></p>
            <% end %>
          <% end %>
        </td>
        <td>
          <% if level.all_recognition_benefits %>
            <h6>Recognition Benefits</h6>
            <% level.all_recognition_benefits.each do |benefit| %>
              <p><%= benefit %></p>
            <% end %>
          <% end %>
        </td>
      </tr>
    </tbody>
    <% end %>
  </table>
  <%= partial "share" %>
</div>

<script>
  // toggles benefit info in grid
  $('.open-close').on('click', function() {
    $(this).closest('.grid-body').toggleClass('opened');
  });
</script>
