---
title: Explore Benefits
---

<div class="splash">
  <div class="splash-wrapper">
    <div class="splash-greeting">
      <h1 class="splash-header">Membership Benefits</h1>
      <p class="splash-info"><%= data.info %></p>
      <h4 class="splash-support"><%= data.support %></h4>
    </div><!-- splash-greeting -->
  </div><!-- splash-wrapper -->
  <%= partial "desktop_nav" %>
</div><!-- splash-levels -->

<div class="main">
  <h2><%= data.tagline %></h2>
  <h3>Explore the benefits:</h3>
  <table>
    <% data.levels.each do |level| %>
    <tbody class="grid-body <% if level.most_popular %>opened<% end %>">
      <tr>
        <td class="name open-close">
          <i class="fa fa-plus-square-o"></i>
          <i class="fa fa-minus-square"></i>
          <h3> <%= level.name %></h3>
          <% if level.most_popular %>
            <h5 class="benefit-flag"><i class="fa fa-star"></i> Most Popular</h5>
          <% end %>
        </td>
        <td class="amount-monthly"><% if level.amount_month %><a href="https://givalike.org/public/quickgive.aspx?cid=227&amp;amount=<%= level.amount_month %>&amp;monthly=1"><% if level.range_month %><%= level.range_month %><% else %>$<%= level.amount_month %><% end %> Monthly</a><% end %></td>
        <td class="amount-yearly">
          <a href="https://givalike.org/public/quickgive.aspx?cid=227&amp;amount=<%= level.amount_annual %>"><% if level. range_annual %><%= level.range_annual %><% else %>$<%= level.amount_annual %><% end %> Annually</a>
        </td>
      </tr>
      <tr class="popout">
        <td>
          <% if level.all_content_benefits %>
            <h5>Content Benefits</h5>
            <% level.all_content_benefits.each do |benefit| %>
              <p><%= benefit %></p>
            <% end %>
          <% end %>
        </td>
        <td>
          <% if level.all_access_benefits %>
            <h5>Access Benefits</h5>
            <% level.all_access_benefits.each do |benefit| %>
              <p><%= benefit %></p>
            <% end %>
          <% end %>
        </td>
        <td>
          <% if level.all_recognition_benefits %>
            <h5>Recognition Benefits</h5>
            <% level.all_recognition_benefits.each do |benefit| %>
              <p><%= benefit %></p>
            <% end %>
          <% end %>
        </td>
      </tr>
    </tbody>
    <% end %>
  </table>
  <%= partial "share" %>
</div>
<%= partial "bottom_checkout" %>

<script>
  // toggles benefit info in grid
  $('.open-close').on('click', function() {
    $(this).closest('.grid-body').toggleClass('opened');
  });
</script>
